<p id="notice"><%= notice %></p>

<p>
  <strong>Merchantid:</strong>
  <%= @user.merchantID %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @user.companyName %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
