<p id="notice"><%= notice %></p>

<p>
  <strong>Merchantid:</strong>
  <%= @vending_machine.merchantID %>
</p>

<p>
  <strong>Serialnumber:</strong>
  <%= @vending_machine.serialNumber %>
</p>

<p>
  <strong>Objectname:</strong>
  <%= @vending_machine.objectName %>
</p>

<p>
  <strong>Locationname:</strong>
  <%= @vending_machine.locationName %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @vending_machine.notes %>
</p>

<p>
  <strong>Machineid:</strong>
  <%= @vending_machine.machineID %>
</p>

<p>
  <strong>Gameminorversion:</strong>
  <%= @vending_machine.gameMinorVersion %>
</p>

<p>
  <strong>Gamemajorversion:</strong>
  <%= @vending_machine.gameMajorVersion %>
</p>

<p>
  <strong>Embeddedauxboardminor:</strong>
  <%= @vending_machine.embeddedAuxBoardMinor %>
</p>

<p>
  <strong>Embeddedauxboardmajor:</strong>
  <%= @vending_machine.embeddedAuxBoardMajor %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @vending_machine.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @vending_machine.longitude %>
</p>

<p>
  <strong>Numberphotos:</strong>
  <%= @vending_machine.numberPhotos %>
</p>

<p>
  <strong>Lastscore:</strong>
  <%= @vending_machine.lastScore %>
</p>

<p>
  <strong>Currentlightconfiguration:</strong>
  <%= @vending_machine.currentLightConfiguration %>
</p>

<p>
  <strong>Currentgamemode:</strong>
  <%= @vending_machine.currentGameMode %>
</p>

<p>
  <strong>Currentcredits:</strong>
  <%= @vending_machine.currentCredits %>
</p>

<p>
  <strong>Machinetype:</strong>
  <%= @vending_machine.machineType %>
</p>

<p>
  <strong>Numbergamesplayed:</strong>
  <%= @vending_machine.numberGamesPlayed %>
</p>

<p>
  <strong>Totalnumberticketsadded:</strong>
  <%= @vending_machine.totalNumberTicketsAdded %>
</p>

<p>
  <strong>Totalnumberticketsredeemed:</strong>
  <%= @vending_machine.totalNumberTicketsRedeemed %>
</p>

<p>
  <strong>Totalnumberticketsprinted:</strong>
  <%= @vending_machine.totalNumberTicketsPrinted %>
</p>

<p>
  <strong>Totalnumbersuccessvends:</strong>
  <%= @vending_machine.totalNumberSuccessVends %>
</p>

<p>
  <strong>Totalnumbererrorvends:</strong>
  <%= @vending_machine.totalNumberErrorVends %>
</p>

<p>
  <strong>Numbervendrows:</strong>
  <%= @vending_machine.numberVendRows %>
</p>

<%= link_to 'Edit', edit_vending_machine_path(@vending_machine) %> |
<%= link_to 'Back', vending_machines_path %>
